/.idea
/.vscode
/theory
/venv
test_ME/tests/__pycache__
task_1/src/.pytest_cache
task_1/venv
task_1/assets
task_1/src/__pycache__
task_1/tests/__pycache__
task_1/tests/.pytest_cache
task_0/src/.pytest_cache
task_0/src/__pycache__
task_0/tests/.pytest_cache
task_2/tests/__pycache__
